.gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
  width: 1440px;
  background-color: #fff;
  list-style-type: none;
  margin: 0 auto;
  padding: 24px 156px;
}
.gallery-item {
}
.gallery-link {
}
.gallery-image {
  display: block;
  width: 360px;
  height: 200px;
}
.modal {
}
.modalImg {
}
